* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkgoldenrod;
}

html { 
    background: url(images/galaxy-3608029_1280.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  p, h1, h2, h3 {
     text-shadow: 0 0 20px darkgoldenrod;
     display: flex;
    justify-content: center;
  }

  blockquote {
    text-shadow: 0 0 5px darkgoldenrod;
    margin-top: 25px;
    font-size: 16px;
    border-radius: 5px;
    background: rgba(0,0,0,0.8);
    padding: 15px;
  }

.img-header {
    display: flex;
    justify-content: center;
}

.img-box img {
  width: 150px;
  height: 150px;
  box-shadow: inset 0 0 10px #311b0b;
  border-radius: 5%;
}

.img-box {
    display: flex;
    justify-content: space-evenly;
}

.img-subtext {
    display: flex;
    justify-content: space-evenly; 
    margin-top: 10px;
}



.main-header {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 3rem;
    text-shadow: 0 0 20px darkgoldenrod;
}

.sub-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    
}

.header-bar a {
    margin: 10px;
    font-size: 1.2em;
}

.header-links a:link {
   color: goldenrod; 
}

.header-links a:visited {
    color: rgb(230, 198, 137);
    text-decoration: underline;
}

.header-links a:hover {
    font-size: 150%;
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px
}

.header-links a:active {
    font-style: italic;
    font-size: 175%;
}

.header-logo {
    width: 100px;
    height: auto;
    mix-blend-mode: color-dodge;
    filter: invert(1);
}

.button {
    display: flex;
    justify-content: center;
}

.sign-up {
    color: rgb(255, 217, 94);
    background-color: black;
    font-size: 20px;
}

.sign-up:hover {
    color: #ffee10;
    box-shadow: 0 0 8px #ffee10;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.sign-up-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px black solid;
    width: 20%;
    margin-left: 40%;
    height: auto;
    font-size: larger;
    text-shadow: 0 0 5px;
    border-radius: 5px;
    background: rgba(0,0,0,0.8);
    padding: 15px;
}

input {
    background-color: black;
}

.submit:hover {
    color: #ffee10;
    box-shadow: 0 0 8px #ffee10;
}

.submit {
    text-shadow: 0 0 5px
}

cite {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}